<div class="article roundCorner <%= if (i == 0) then ("featured") end %> "> 
	<div class=" <%= if (i == 0) then ("featuredImg") else ("articleImg") end %> ">
		<img src="/images/articleIcon.png">
	</div>
	<div class="score">
		<img src="https://img.4plebs.org/boards/s4s/image/1385/00/1385006781269.png" class="likeIcon">
		<span class="scoreCount"><%= post.score.value %></span>
	</div>
	<div class=" <%= if (i == 0) then ("featuredText") else ("articleText") end %> ">
		<h3><a href="<%= post.info["content"] %>"><%= post.info["title"] %></a></h3>
	</div>
	
</div>