<div class="article roundCorner <%= "featured" if featured %> "> 

	<div class="articleWrapper">
		<div class="articleImg <%= "featuredImg" if featured %>">
			<img src="/images/articleIcon.png">
		</div>

		<div class="articleText <%= "featuredText" if featured %> ">
			<h3><a href="<%= post.content %>"><%= post.title %></a></h3>
			<p>Author: .... </p>
			<p>Posted on: .... </p>
		</div>
	</div>

	<div class="score">
		<form class= "upvoteform <%= "articleLiked" if liked %> " method="post" action="/likeclicked?pid=<%= post.postid %>&user=<%=user%>">
			<input type="hidden" name="pg" value="<%= pg %>">
			<input type="hidden" name="sort" value="<%= sort %>">
			<button type="submit" class="upvoteButton">
				upvote
			</button>
		</form>

		<span class="scoreCount"><%= post.num_likes %></span>
	</div>
	
</div>