<div class="article roundCorner <%= "featured" if featured %> "> 
	<div class="articleImg <%= "featuredImg" if featured %>">
		<img src="/images/articleIcon.png">
	</div>

	<div class="score">
		<img src="https://img.4plebs.org/boards/s4s/image/1385/00/1385006781269.png" class="likeIcon">
		<span class="scoreCount"><%= post.score.value %></span>
	</div>
	<div class="articleText <%= "featuredText" if featured %> ">
		<h3><a href="<%= post.info["content"] %>"><%= post.info["title"] %></a></h3>
	</div>
	
</div>