<div class="article roundCorner <%= "featured" if featured %> "> 

	<div class="articleWrapper">
		<div class="articleImg <%= "featuredImg" if featured %>">
			<img src="/images/articleIcon.png">
		</div>

		<div class="articleText <%= "featuredText" if featured %> ">
			<h3><a href="<%= post.info["content"] %>"><%= post.info["title"] %></a></h3>
		</div>
	</div>

	<div class="score">
		<form class="upvoteform" method="post" action="/likeclicked?pid=<%= post.info["postID"] %>&user=<%=user%>">
			<button type="submit" class="upvoteButton">
				upvote
			</button>
		</form>
		<span class="scoreCount"><%= post.score.value %></span>
	</div>
	
</div>