<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>Upvoter</title>
		<link rel="stylesheet" href="/styles.css">
		<link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,400" rel="stylesheet">
		<script type="text/javascript" src="/javascripts/modal.js"></script>
		<script type="text/javascript" src="/javascripts/upvote_button.js"></script>
		<script type="text/javascript" src="/scripts.js"></script>
	</head>

	<body>
	
		<%= erb :header, :locals => {:pg => @cur_page, :sort => @sort}%>

		<div class="bodyContent">

			<div class="articles">

				<% if @page_of_posts %>
					<% @page_of_posts.each_with_index { |post, i| %>

					   <%= erb :article, :locals => {:post => post, :featured => (i == 0 && @cur_page == 1), :user => @user, :pg => @cur_page, :sort => @sort} %>
					   
					<% } %>
				<% else %>
					<p>There are no posts to display.</p>
				<% end %>

			</div>

			<div class="sideBars">
				
				<div class="userSideBar sidebarBox roundCorner">

					<div class="searchBox">
						<form id="newsearch" method="get" action="http://www.google.com">
					        <input type="search" class="selected" id="searchBar" placeholder="Search...">
					        <input type="button" class="selected" id="searchButton">
						</form>
					</div>

					<div class="underSearch">

						<div class="sortByBlock">
							<span>Sort by - </span>
							<select id="sortBy" class="selected">
							  <option value="popular">Popular</option>
							  <option value="topRated">Top Rated</option>
							  <option value="newest">Newest</option>
							</select>
						</div>

						<form id="newPostForm" action="/newPost">
							<input type="submit" value="New Post" class="roundCorner selected" id="newPostButton">
						</form>

					</div>
				</div>

				<div class="userSideBar sidebarBox roundCorner">
					<span><a href="#">Log in</a> or <a href="#">sign up</a> to see your profile information.</span>
				</div>

				<div class="lowerSideBar sidebarBox roundCorner">
					<ul>
						<li><a href="/?sort=<%= @sort %>&pg=<%= @cur_page-1 %>">Prev</a></li>
						<li><a href="/?sort=<%= @sort %>&pg=<%= @cur_page+1 %>">Next</a></li>
					</ul>
				</div>
			</div>
		</div>

		<%= erb :modals, :locals => {:pg => @cur_page, :sort => @sort, :username => @user} %>

		<%= erb :footer %>

	</body>
</html>





