<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>Upvoter</title>
		<link rel="stylesheet" href="/styles.css">
		<link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,400" rel="stylesheet">
		<script type="text/javascript" src="/scripts.js"></script>
	</head>

	<body>
	
		<%= erb :header, :locals => {:pg => @cur_page, :sort => @sort}%>

		<div class="bodyContent">

			<div class="articles">

				<% if @page_of_posts %>
					<% @page_of_posts.each_with_index { |post, i| %>

					   <%= erb :article, :locals => {:post => post, :featured => (i == 0 && @cur_page == 1), :user => @user, :pg => @cur_page, :sort => @sort} %>
					   
					<% } %>
				<% else %>
					<p>There are no posts to display.</p>
				<% end %>

			</div>

			<ul>
				<li><a href="/?sort=<%= @sort %>&pg=<%= @cur_page-1 %>">Prev</a></li>
				<li><a href="/?sort=<%= @sort %>&pg=<%= @cur_page+1 %>">Next</a></li>
			</ul>

			<div class="sideBars">
				
				<div class="userSideBar sidebarBox roundCorner">

					<div class="searchBox">
						<form id="newsearch" method="get" action="http://www.google.com">
					        <input type="search" class="selected" id="searchBar" placeholder="Search...">
					        <input type="button" class="selected" id="searchButton">
						</form>
					</div>

					<div class="underSearch">

						<div class="sortByBlock">
							<span>Sort by - </span>
							<select id="sortBy" class="selected">
							  <option value="popular">Popular</option>
							  <option value="topRated">Top Rated</option>
							  <option value="newest">Newest</option>
							</select>
						</div>

						<form id="newPostForm" action="/newPost">
							<input type="submit" value="New Post" class="roundCorner selected" id="newPostButton">
						</form>

					</div>
				</div>

				<div class="userSideBar sidebarBox roundCorner"></div>

				<div class="lowerSideBar sidebarBox roundCorner">
					LOWER SIDE BAR
				</div>
			</div>
		</div>

		<div class="modalFullScreen modalBackground" style="display: none;"></div>
		<div class="modalFullScreen modal" style="display: none;">
			<div class="modalWindow">

				<div class="modalHeader">
					<h1>New Post</h1>
				</div>

				<div class="newPostContent">

					<form class="newPostForm" method="post" action="/newPost">
						<div class="titleLine">
							<span>Title:</span>
							<input type="text" name="title" class="selected" placeholder="Article title...">
						</div>
						
						<br>
						<div class="articleLine">
							<span>Link:</span>
							<input type="text" name="content" class="selected" placeholder="Article link...">
						</div>

						<br>
						<div id="submitButton">
							<input type="submit" name="submitPost" class="roundCorner selected" value="Submit">
						</div>
						
					</form>
					
				</div>
			</div>
		</div>

		<%= erb :footer %>

	</body>
</html>





